@inject IPeopleService peopleService
@inject IUserStatusService statusService
@inject ViewDataService ViewDataService
@inject IJSRuntime JsRuntime
@inject IDialogService dialogService

<div class="damselfly-exportitem">
    <div title="@Person.PersonGuid" class="damselfly-personimg">
        <NavLink href="@PersonLink">
            <img @key="@Person.PersonId" title="@Person.Name" src="@FaceLink">
        </NavLink>
    </div>
    <div class="damselfly-personfield">
        <MudTextField @key="@Person.PersonId" @bind-Value="@Name" ReadOnly="false" Variant="UIConstants.MudVariant"/>
    </div>
</div>

@code {

    [Parameter]
    public Person Person { get; set; }

    public string Name
    {
        get => Person.Name;
        set => _ = UpdateName(value);
    }

    public string FaceLink => $"/face/{Person.PersonId}?nocache={Person.LastUpdated:yyyyMMddHHmmss}";
    public string PersonLink => $"/?personid={Person.PersonId}";

    private async Task UpdateName(string newName)
    {
        if( !string.IsNullOrEmpty(newName) && !newName.Equals(Person.Name) )
        {
            var allNames = await peopleService.GetPeopleNames(newName);
            bool canRename = true;

            // If the new name already exists for another person, then we're going to merge 
            // them together to form a single person. 
            if( allNames.Contains(newName, StringComparer.OrdinalIgnoreCase) )
            {
                canRename = false;

                bool? result = await dialogService.ShowMessageBox(
                    $"Merge with existing {newName}?",
                    $"A person with the name '{newName}' exists already. Would you like to merge the two?",
                    yesText: "Merge", cancelText: "Cancel");

                if( result != null && result.Value )
                {
                    statusService.UpdateStatus("Merging people is not yet implemented!");
                    canRename = true;
                }
            }

            _ = JsRuntime.InvokeAsync<string>("clearFocus");

            if( canRename )
            {
                _ = peopleService.UpdatePerson(Person, newName);

                // Update the local copy
                Person.Name = newName;

                StateHasChanged();

                statusService.UpdateStatus($"Name set to '{newName}'");
            }
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if( firstRender )
        {
            ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowBasket = true, ShowFolderList = true });
        }
    }

}