
@using Damselfly.Core.ImageProcessing
@using Damselfly.Core.DbModels
@using Damselfly.Core.Utils.Constants

@implements IDisposable

@inject IDialogService DialogService
@inject ThumbnailService thumbService
@inject BasketService basketService
@inject NavigationManager NavigationManager
@inject WordpressService wpService
@inject UserService userService
@inject UserConfigService configService

<div class="InputAddOn">
    <div class="InputAddOn-item" title="Saved Baskets"><i class="fas fa-shopping-basket" /></div>
    <select @bind="SelectedBasketId" class="InputAddOn-field">
        @foreach (var basket in baskets)
        {
            <option value="@basket.BasketId">@basket.Name @PrivateIndicator(basket)</option>
        }
    </select>
    <AuthorizeView Policy="@PolicyDefinitions.s_IsEditor">
        <button title="Edit Basket" @onclick="@(() => OpenEditBasketDialog())" class="InputAddOn-item"><i class="fas fa-edit" /></button>
    </AuthorizeView>
</div>

@code {
        readonly List<Basket> baskets = new List<Basket>();
        string NewBasketName { get; set; }

    private int SelectedBasketId
    {
        get { return basketService.CurrentBasket == null ? -1 : basketService.CurrentBasket.BasketId; }
        set { _ = NewBasketSelected(value); }
    }

    private async Task OpenEditBasketDialog()
    {
        var parameters = new DialogParameters { { "basket", basketService.CurrentBasket }, { "mode", "Edit" } };
        var dialog = DialogService.Show<BasketDialog>("Edit Basket", parameters);
        var result = await dialog.Result;
    }

    private async Task NewBasketSelected(int selectedBasketId)
    {
        var newBasket = await basketService.SwitchBasketById(selectedBasketId);
        configService.Set(ConfigSettings.SelectedBasketId, newBasket.BasketId.ToString());
    }

    private string PrivateIndicator(Basket basket)
    {
        // Shared baskets don't make sense if users and roles are disabled.
        if (configService.GetBool(ConfigSettings.EnablePoliciesAndRoles))
        {
            if (basket?.UserId == null)
                return "(shared)";
        }
        return string.Empty;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            basketService.OnBasketChanged += BasketsChanged;

            await LoadBasketList();

            var selectedBasketId = configService.GetInt(ConfigSettings.SelectedBasketId, -1);
            if (selectedBasketId > 0)
                await basketService.SwitchBasketById(selectedBasketId);
            else
                await basketService.SwitchToDefaultBasket(userService.User);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        basketService.OnBasketChanged -= BasketsChanged;
    }

    private void BasketsChanged()
    {
        _ = LoadBasketList();
        StateHasChanged();
    }

    public async Task LoadBasketList()
    {
        var watch = new Stopwatch("LoadBaskets");

        var myBaskets = await basketService.GetUserBaskets(userService.User);

        this.baskets.Clear();
        this.baskets.AddRange(myBaskets);
        watch.Stop();
    }
}

