@using System
@using Damselfly.Web.Shared
@inject IJSRuntime JsRuntime
@implements IDisposable

<LocalFileExporter @ref="FileExporter" />


<div>
    <img src="damselfly-logo.png" title="Damselfly" />
    <h2>Damselfly v<span />@Version</h2>
    <h4>Server-based Digital Asset Management system</h4>
    <p>&copy; 2019-@DateTime.Now.Year Mark Otway, All rights reserved.</p>
    <p>ExifTool version: <span />@MetaDataService.ExifToolVer</p>
    <NavLink href="/logs">View Server Logs</NavLink>
    <Stats />
    <h4>Damselfly Desktop</h4>
    @if (FileExporter != null && FileExporter.IsDesktopHosted)
    {
        <p>Running in the Damselfly Desktop container, v<span />@FileExporter.DesktopVersion</p>
    }
    @if (DownloadService.DesktopAppInfo.AppsAvailable)
    {
        <p>Download v<span />@Version of the Desktop App here:</p>
        <div class="desktop-download-icons">
            @if (DownloadService.DesktopAppInfo.MacOSApp != null)
            {
                <div class="InputAddOn">
                    <div class="InputAddOn-item" title="Download for MacOS"><i class="fab fa-apple" /></div>
                    <NavLink href="@DownloadService.DesktopAppInfo.MacOSApp">
                        <div class="InputAddOn-field">MacOS</div>
                    </NavLink>
                    @if (DownloadService.DesktopAppInfo.MacOSArmApp != null)
                    {
                        <NavLink href="@DownloadService.DesktopAppInfo.MacOSArmApp">
                            <div class="InputAddOn-field">(M1)</div>
                        </NavLink>
                    }
                </div>
            }
            @if (DownloadService.DesktopAppInfo.WindowsApp != null)
            {
                <div class="InputAddOn">
                    <div class="InputAddOn-item" title="Download for MacOS"><i class="fab fa-windows" /></div>
                    <NavLink href="@DownloadService.DesktopAppInfo.WindowsApp">
                        <div class="InputAddOn-field">Windows</div>
                    </NavLink>
                </div>
            }
            @if (DownloadService.DesktopAppInfo.LinuxApp != null)
            {
                <div class="InputAddOn">
                    <div class="InputAddOn-item" title="Download for MacOS"><i class="fab fa-linux" /></div>
                    <NavLink href="@DownloadService.DesktopAppInfo.LinuxApp">
                        <div class="InputAddOn-field">Linux</div>
                    </NavLink>
                </div>
            }
        </div>
    }
    <h4>Credits/Thanks</h4>
    <p>
        Powered by <NavLink href="http://blazor.net" target="_blank">Blazor</NavLink>.
        Icons by <NavLink href="https://fontawesome.com/" target="_blank">Font-Awesome</NavLink>.
        Image Processing by <NavLink href="https://github.com/mono/SkiaSharp" target="_blank">SkiaSharp</NavLink> and <NavLink href="https://github.com/SixLabors/ImageSharp" target="_blank">SixLabors ImageSharp</NavLink>.
    </p>
</div>

@code {
    private LocalFileExporter FileExporter;

    public string Version
    {
        get
        {
            return System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            FileExporter.OnChange += StateHasChanged;
        }
    }

    public void Dispose()
    {
        FileExporter.OnChange -= StateHasChanged;
    }
}