
@using System.ComponentModel.DataAnnotations
@using Damselfly.Core.Interfaces
@using Humanizer

@inject BasketService basketService
@inject UserService userService
@inject UserStatusService userStatusService
@inject StatusService statusService
@inject ConfigService configService
@inject IndexingService indexingService
@inject SearchService searchService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">Advanced Search</MudText>
    </TitleContent>
    <DialogContent>

        <div class="damselfly-dialogrow">
            <div class="damselfly-dialogctrl">
                <MudTextField @bind-Value="@Query.SearchText" Label="Search Text" Variant="Variant.Filled" />
            </div>
            <div class="damselfly-dialogctrl-v">
                <div class="damselfly-dialogctrl">
                    <MudCheckBox @bind-Checked="@Query.TagsOnly" Label="Exclude filenames/folders" />
                    <MudCheckBox @bind-Checked="@Query.IncludeAITags" Label="Include AI tags" />
                </div>
                <MudCheckBox @bind-Checked="@Query.UntaggedImages" Label="Only show images without keyword tags" />
            </div>
        </div>

        <div class="damselfly-dialogrow">
            <div class="damselfly-dialogctrl">
                <MudSelect T="SearchQuery.FaceSearchType" Label="People Filters" HelperText="Look for files with/without faces" @bind-Value="Query.FaceSearch" Variant="Variant.Filled">
                    @foreach (var choice in faceTypes)
                    {
                        <MudSelectItem Value="@choice">
                            @choice.ToString().Humanize()
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="damselfly-dialogctrl">
                <MudSelect T="SearchQuery.OrientationType" Label="Orientation" HelperText="Filter landscape/portrait images" @bind-Value="Query.Orientation" Variant="Variant.Filled">
                    @foreach (var choice in orientationTypes)
                    {
                        <MudSelectItem Value="@choice">
                            @choice.ToString().Humanize()
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>

        <div class="damselfly-dialogrow">
            <div class="damselfly-dialogctrl">
                <MudSelect T="int" Label="Camera" HelperText="Camera Model to filter" @bind-Value="Query.CameraId" Variant="Variant.Filled">
                    <MudSelectItem T="int" Value="-1">Any Camera</MudSelectItem>
                    @foreach (var cam in indexingService.Cameras)
                    {
                        <MudSelectItem T="int" Value="@cam.CameraId">
                            @cam.Make @cam.Model
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="damselfly-dialogctrl">
                <MudSelect T="int" Label="Lens" HelperText="Lens Model to filter" @bind-Value="Query.LensId" Variant="Variant.Filled">
                    <MudSelectItem T="int" Value="-1">Any Lens</MudSelectItem>
                    @foreach (var lens in indexingService.Lenses)
                    {
                        <MudSelectItem T="int" Value="@lens.LensId">
                            @lens.Make @lens.Model
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>

        <div class="damselfly-dialogrow">
            <div class="damselfly-dialogctrl">
                <MudSelect T="int?" Label="Max File Size" HelperText="Max File Size" @bind-Value="Query.MaxSizeKB" Variant="Variant.Filled">
                    <MudSelectItem T="int?" Value="@null">Any Size</MudSelectItem>
                    @foreach (var choice in fileSizeChoices)
                    {
                        <MudSelectItem T="int?" Value="@choice.Value">
                            @choice.Key
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="damselfly-dialogctrl">
                <MudSelect T="int?" Label="Min File Size" HelperText="Min File Size" @bind-Value="Query.MinSizeKB" Variant="Variant.Filled">
                    <MudSelectItem T="int?" Value="@null">Any Size</MudSelectItem>
                    @foreach (var choice in fileSizeChoices)
                    {
                        <MudSelectItem T="int?" Value="@choice.Value">
                            @choice.Key
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudItem xs="12" md="12">
            <MudPaper Elevation="0" Class="d-flex py-2 px-1">
                <MudButton Class="pa-2 ml-2 mr-auto" Color="Color.Warning" OnClick="ResetSearch">Reset Search</MudButton>
                <MudButton Class="pa-2 mx-2" OnClick="Cancel">Cancel</MudButton>
                <MudButton Class="pa-2 mx-2" Color="Color.Primary" OnClick="Search">Search</MudButton>
            </MudPaper>
        </MudItem>
    </DialogActions>
</MudDialog>

@code {
            [CascadingParameter]
            MudDialogInstance MudDialog { get; set; }

    private SearchQuery Query = new SearchQuery();
        private List<SearchQuery.FaceSearchType> faceTypes = EnumerableExtensions.GetEnumList<SearchQuery.FaceSearchType>();
        private List<SearchQuery.OrientationType> orientationTypes = EnumerableExtensions.GetEnumList<SearchQuery.OrientationType>();

        private List<KeyValuePair<string, int>> fileSizeChoices = new List<KeyValuePair<string, int>> {
        new KeyValuePair<string, int>( "1KB", 1 ),
        new KeyValuePair<string, int>( "50KB", 50 ),
        new KeyValuePair<string, int>( "500KB", 500 ),
        new KeyValuePair<string, int>( "1MB", 1024 ),
        new KeyValuePair<string, int>( "5MB", 5 * 1024 ),
        new KeyValuePair<string, int>( "10MB", 10 * 1024 ),
        new KeyValuePair<string, int>( "50MB", 50 * 1024 ),
    };

        private void ResetSearch()
        {
            Query = new SearchQuery();
            Search();
        }

        private void Search()
        {
            try
            {
                MudDialog.Close(DialogResult.Ok(true));

                searchService.ApplyQuery(Query);
            }
            catch (Exception ex)
            {
                Logging.LogError($"Unexpected error in search dialog: {ex}");
                DisplayError($"Unexpected error in search parameters: {ex.Message}");
            }
        }

        private string errorMsg;

        private void DisplayError(string errorText)
        {
            errorMsg = errorText;
            StateHasChanged();
        }

        void Cancel() => MudDialog.Cancel();

        protected override void OnInitialized()
        {
            base.OnInitialized();

            searchService.CopyPropertiesTo(Query);
        }
    }