
@inject BasketService basketService
@inject ViewDataService ViewDataService
@inject DownloadService downloadService
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager

@implements IDisposable

<LocalFileExporter @ref="FileExporter" />

<div class="damselfly-exportpanel">
    <ExportConfigManager CurrentConfig="@selectedConfig" />
    <div class="damselfly-exportsettings">
        <div>
            <h4>Export Settings</h4>
        </div>
        <div>
            <ImageField FieldName="Export Type" FieldValue="@selectedConfig.Type.ToString()" />
        </div>
        <div>
            <ImageField FieldName="Export Size" FieldValue="@selectedConfig.Size.ToString()" />
        </div>
        <div>
            <ImageField FieldName="Watermark" FieldValue="@selectedConfig.WatermarkText" />
        </div>
        <div>
            @if (FileExporter != null && FileExporter.IsDesktopHosted)
            {
                <button @onclick="@FileExporter.ExportBasketToLocalFilesystem" class="btn btn-primary">Save Locally</button>
            }
            <button @onclick="@Export" class="btn btn-primary">Download as Zip</button>
        </div>
    </div>

</div>

@code {
    private LocalFileExporter FileExporter;
    public ExportType[] exportTypes { get; private set; } = new ExportType[0];
    public ExportSize[] exportSizes { get; private set; } = new ExportSize[0];

    // TODO: Size etc are not binding.
    public ExportConfig CurrentConfig { get { return selectedConfig; } set { ChangeConfig(value); } }
    public List<ExportConfig> configs = new List<ExportConfig>();
    private ExportConfig selectedConfig = new ExportConfig { Name = "Default" };
    public string StatusMessage { get; set; }

    private void ChangeConfig(ExportConfig config)
    {
        if (config != null)
        {
            selectedConfig = config;
            StatusMessage = $"Loaded Config for '{config.Name}'";
            StateHasChanged();
        }
    }

    private async Task SaveConfig()
    {
        await downloadService.SaveDownloadConfig(selectedConfig);
        StatusMessage = $"Saved Config for '{selectedConfig.Name}'";
        await LoadConfigs();
        StateHasChanged();
    }

    private void Export()
    {
        InvokeAsync(() => { _ = ProcessExport(); });
    }

    private async Task ProcessExport()
    {
        // TODO: How to handle long zip times. Progress meter etc?
        string zipPath = await basketService.DownloadSelection(selectedConfig);
        await JsRuntime.InvokeAsync<string>("downloadFile", zipPath);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            FileExporter.OnChange += StateHasChanged;

            ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowExport = true });

            exportTypes = (ExportType[])Enum.GetValues(typeof(ExportType));
            exportSizes = (ExportSize[])Enum.GetValues(typeof(ExportSize));
            await LoadConfigs();

            StateHasChanged();
        }
    }

    private async Task<List<ExportConfig>> LoadConfigs()
    {
        using var db = new ImageContext();
        configs = await Task.FromResult(db.DownloadConfigs.ToList());
        return configs;
    }

    public void Dispose()
    {
        FileExporter.OnChange -= StateHasChanged;
    }
}