@typeparam ItemType

@inherits Damselfly.Web.Components.BaseVirtualScroll<ItemType>

<div class="@(Class) blazor-virtual-scroll" style="@Style" id="vscroll">
    @if (ScrollViewResult != null)
    {
        <div class="blazor-virtual-scroll-content" style="height: @(ScrollViewResult.Height)px">
           
             @foreach (var item in Items.Skip(ScrollViewResult.SkipItems).Take(ScrollViewResult.TakeItems).Select((item, index)=>new {item, index}))
             {
                 <div style="height: @(ItemHeight)px; top: @((ScrollViewResult.SkipItems + item.index) * ItemHeight)px;" class="blazor-virtual-scroll-item">
                     @ChildContent(item.item)
                 </div>
             }
        </div>
    }
</div>

